.pokeballIcon {
    height: auto;
    width: 20px;
}
#pokeballComponent {
    display: grid;
    grid-template-rows: 20% 80%;
}
#pokeballComponentPokeballs {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}