#regionContainer {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 9fr;
    grid-column: 4;
    grid-row: 1 / 4;
    background-color: lightslategray;
    overflow: auto;
    height: 100%;
}
#regionContainer select option {
    text-align: center;
    font-size: larger;
}